---
import type { KeymodInstagramEmbed } from '../../data/keymodInstagramEmbeds';

interface Props {
  embed: KeymodInstagramEmbed;
}

const { embed } = Astro.props;
const permalink = `${embed.permalink}?utm_source=ig_embed&utm_campaign=loading`;
---

<figure class="km-ig-embed" data-ig-format={embed.format}>
  <blockquote
    class="instagram-media"
    data-instgrm-captioned
    data-instgrm-permalink={permalink}
    data-instgrm-version="14"
    style="background:#FFF;border:0;border-radius:12px;box-shadow:0 1px 12px rgba(15,23,42,0.08);margin:0;max-width:540px;min-width:326px;padding:0;width:100%;"
  >
    <a href={permalink} target="_blank" rel="noopener noreferrer">{embed.author} on Instagram</a>
  </blockquote>
  <figcaption class="km-ig-embed__author">{embed.author}</figcaption>
</figure>
