---
import KeyModLayout from '../../layouts/KeyModLayout.astro';
import ProductJsonLd from '../../components/ProductJsonLd.astro';
import KeyModNav from '../../components/keymod/KeyModNav.astro';
import KeyModHero from '../../components/keymod/KeyModHero.astro';
import KeyModWhatItIs from '../../components/keymod/KeyModWhatItIs.astro';
import KeyModSkuCompare from '../../components/keymod/KeyModSkuCompare.astro';
import KeyModModesTheater from '../../components/keymod/KeyModModesTheater.astro';
import KeyModFirmwareRoadmap from '../../components/keymod/KeyModFirmwareRoadmap.astro';
import KeyModSocialProof from '../../components/keymod/KeyModSocialProof.astro';
import KeyModProductLine from '../../components/keymod/KeyModProductLine.astro';
import KeyModCrowdSupplyBlock from '../../components/keymod/KeyModCrowdSupplyBlock.astro';
import KeyModLaunchCta from '../../components/keymod/KeyModLaunchCta.astro';
import KeyModFaq from '../../components/keymod/KeyModFaq.astro';
import KeyModProductJourney from '../../components/keymod/KeyModProductJourney.astro';
import KeyModFooter from '../../components/keymod/KeyModFooter.astro';
import KeyModBackToTop from '../../components/keymod/KeyModBackToTop.astro';
import { siteConfig } from '../../config/site';
import { keymodProduct as product } from '../../data/products/keymod';
import { getKeymodLanding } from '../../i18n/keymodLanding';

const copy = getKeymodLanding();
const canonicalPath = '/keymod/';
const productUrl = new URL(canonicalPath, siteConfig.url).href;
---

<KeyModLayout
  title={copy.meta.title}
  description={copy.meta.description}
  keywords={copy.meta.keywords}
  canonicalPath={canonicalPath}
>
  <ProductJsonLd slot="head" product={product} url={productUrl} />
  <KeyModNav copy={copy.nav} />
  <main>
    <KeyModHero copy={copy.hero} />
    <KeyModWhatItIs copy={copy.whatItIs} />
    <KeyModModesTheater copy={copy.modesTheater} povTabs={copy.povTabs} crowdSupplyCampaign={copy.crowdSupplyCampaign} />
    <KeyModLaunchCta copy={copy.subscribe} />
    <KeyModSocialProof copy={copy.socialProof} />
    <KeyModSkuCompare copy={copy.skuCompare} />
    <KeyModCrowdSupplyBlock variant="opensource" copy={copy.crowdSupplyOpensource} />
    <KeyModFaq copy={copy.faq} />
    <KeyModFirmwareRoadmap copy={copy.firmwareRoadmap} />
    <KeyModCrowdSupplyBlock variant="campaign" copy={copy.crowdSupplySupport} id="back-the-project" />
    <KeyModProductJourney copy={copy.productJourney} />
    <KeyModProductLine copy={copy.productLine} />
  </main>
  <KeyModFooter copy={copy.footer} />
  <KeyModBackToTop />
</KeyModLayout>

<script>
  import '../../scripts/keymod-landing-analytics';
</script>
